@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  color: #232536;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(35, 37, 54, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(109, 110, 118, 0.5);
}

::selection {
  color: #ffffff;
  background: #ffd050;
}

.category--title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
  padding: 16px 0 4px 0;
}
.category--heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
}
.category--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d6e76;
}
.category__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.category__item {
  padding: 32px;
  border: 1px solid #6d6e76;
  cursor: pointer;
  transition: 0.5s;
}
.category__item:hover {
  border: 1px solid transparent;
  background-color: #ffd050;
}
.category__link {
  text-decoration: none;
}
.category__icon {
  width: 47px;
  height: 47px;
}
.category__icon img {
  width: 100%;
  height: 100%;
  background-color: #fbf6ea;
  padding: 12px;
  border-radius: 10px;
}

.author--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding-bottom: 48px;
  text-align: center;
}
.author__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.author__list:last-child {
  margin-bottom: 0;
}
.author__item {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
.author__item:first-child {
  background-color: #f4f4f4;
}
.author__item:nth-child(2) {
  background-color: #fbf6ea;
}
.author__item:nth-child(3), .author__item:last-child {
  background-color: #f4f4f4;
}
.author__name {
  padding-top: 20px;
}
.author__name a {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
  text-decoration: none;
}
.author__job {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d6e76;
  padding-bottom: 20px;
}
.author__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}
.author__social-link {
  color: #232536;
  text-decoration: none;
}

.join {
  margin: 0 auto;
  max-width: 414px;
  width: 100%;
  text-align: center;
}
.join--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.join--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 16px 0 32px 0;
}
.join__btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.join__btn:hover {
  background-color: #edc14a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 80px;
  height: 80px;
  background-color: #232536;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex: 1;
}
.navbar__menu-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  text-decoration: none;
  color: #ffffff;
}
.navbar__btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.navbar__btn:hover {
  background-color: #e9e3e3;
}

.footer {
  padding: 59px 80px;
  background-color: #232536;
}
.footer__navbar {
  padding: 0;
  position: relative;
}
.footer__form {
  display: flex;
  justify-content: space-between;
  margin: 57px 0 48px 0;
  padding: 80px 64px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
}
.footer__form-message {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: -2px;
}
.footer__form-message, .footer__form-group {
  flex: 1;
}
.footer__form-group {
  text-align: right;
}
.footer__form-control {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 13px 25px;
  border: 1px solid #6d6e76;
  background-color: transparent;
  outline: none;
  max-width: 323px;
  width: 100%;
}
.footer__form-submit {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.footer__form-submit:hover {
  background-color: #edc14a;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.footer__social {
  display: flex;
  list-style: none;
  gap: 30px;
}
.footer__address {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.homepage__header {
  margin-top: 80px;
  height: 720px;
  background: center/cover no-repeat url("../img/man.png");
  background-attachment: fixed;
  position: relative;
}
.homepage__header::after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background-attachment: fixed;
}
.homepage__header--sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.homepage__header--sub-heading span {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.homepage__header--heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
  letter-spacing: -2px;
  padding: 24px 0;
  max-width: 803px;
  width: 100%;
}
.homepage__header--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding: 16px 0 48px 0;
  max-width: 600px;
  width: 100%;
}
.homepage__header-content {
  padding: 0 80px;
  position: relative;
  top: 128px;
  z-index: 1;
}
.homepage__header-author {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.homepage__header-author span {
  color: #ffd050;
}
.homepage__header-btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.homepage__header-btn:hover {
  background-color: #edc14a;
}
.homepage__main {
  padding: 130px 80px;
}
.homepage__post {
  display: flex;
  position: relative;
}
.homepage__post--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding-bottom: 32px;
}
.homepage__post--title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
}
.homepage__post--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  margin-right: 118px;
  padding: 16px 0 32px 0;
  text-align: justify;
}
.homepage__post-feature {
  max-width: 733px;
  width: 100%;
}
.homepage__post-info {
  margin-right: 32px;
  padding: 32px;
  border: 1px solid #6d6e76;
}
.homepage__post-img {
  max-width: 733px;
  width: 100%;
}
.homepage__post-img img {
  width: 100%;
  height: 100%;
}
.homepage__post-author {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  padding: 32px 0 16px 0;
}
.homepage__post-author span {
  color: #592ea9;
}
.homepage__post-read-btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.homepage__post-read-btn:hover {
  background-color: #edc14a;
}
.homepage__post-list {
  list-style: none;
}
.homepage__post-list .homepage__post--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}
.homepage__post-item {
  padding: 0 225.72px 25px 32px;
  transition: 0.35s;
  cursor: pointer;
}
.homepage__post-item:hover {
  background-color: #fbf6ea;
}
.homepage__post-view-btn {
  position: absolute;
  top: 8px;
  right: 0;
  text-decoration: none;
  color: #592ea9;
}
.homepage__introduce {
  display: flex;
  margin-top: 151px;
  padding: 96px 80px;
  background-color: #f4f0f8;
  position: relative;
}
.homepage__introduce--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.homepage__introduce--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  margin-right: 45px;
}
.homepage__introduce::after {
  position: absolute;
  top: -23px;
  right: 0;
  content: "";
  max-width: 285px;
  width: 100%;
  height: 23px;
  background-color: #592ea9;
}
.homepage__introduce::before {
  position: absolute;
  top: -23px;
  right: 195px;
  content: "";
  max-width: 925px;
  width: 100%;
  height: 23px;
  background-color: #ffd050;
}
.homepage__about, .homepage__mission {
  flex: 1;
}
.homepage__about {
  margin-right: 82px;
}
.homepage__about .homepage__introduce--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  margin-right: 66px;
  padding: 24px 0 16px 0;
}
.homepage__about-btn {
  padding-top: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #592ea9;
  text-decoration: none;
}
.homepage__mission .homepage__introduce--heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
  margin-right: 67px;
  padding: 24px 0 16px 0;
}
.homepage__category {
  padding: 128px;
}
.homepage__category--heading {
  padding-bottom: 48px;
  text-align: center;
}
.homepage__special {
  position: relative;
}
.homepage__special img {
  width: 100%;
  max-width: 949px;
}
.homepage__special--sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.homepage__special--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
  padding: 24px 0 16px 0;
}
.homepage__special--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.homepage__special-content {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 706px;
  width: 100%;
  padding: 80px;
  background-color: #ffffff;
}
.homepage__special-btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 32px;
}
.homepage__special-btn:hover {
  background-color: #edc14a;
}
.homepage__author {
  padding-top: 128px;
}
.homepage__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin: 96px 0;
}
.homepage__logo--sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d6e76;
}
.homepage__logo--heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6d6e76;
}
.homepage__logo-img img {
  color: #ccc;
}
.homepage__testimonial {
  padding: 80px 112px;
  background-color: #fbf6ea;
  display: flex;
}
.homepage__testimonial--sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.homepage__testimonial--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 12px 24px 16px 0;
}
.homepage__testimonial--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.homepage__testimonial-header {
  padding-right: 80px;
  border-right: 1px solid #6d6e76;
  flex: 1;
}
.homepage__testimonial-content {
  padding-left: 80px;
  position: relative;
  flex: 2;
}
.homepage__testimonial-message {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  padding-right: 190px;
}
.homepage__testimonial-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-top: 121px;
}
.homepage__testimonial-avatar {
  padding-right: 16px;
}
.homepage__testimonial-name a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  text-decoration: none;
}
.homepage__testimonial-address {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.homepage__testimonial-control {
  display: flex;
  gap: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.homepage__testimonial-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.homepage__testimonial-btn:hover {
  background-color: #232536;
  transform: scale(1.2);
}
.homepage__testimonial-btn:hover img {
  filter: invert(195%) sepia(176%) saturate(6849%) hue-rotate(-55deg) brightness(202%) contrast(250%);
}
.homepage__testimonial-btn:active {
  transform: scale(1);
}
.homepage__join {
  padding-top: 128px;
}

.blogpage__main {
  margin-top: 80px;
  padding: 0 80px;
}
.blogpage__feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 141px;
  margin: 0 -80px;
  padding: 80px;
  background-color: #f4f0f8;
}
.blogpage__feature--title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.blogpage__feature--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 20px 50px 16px 0;
}
.blogpage__feature--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 16px 46px 32px 0;
}
.blogpage__feature-author {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
}
.blogpage__feature-author span {
  color: #592ea9;
}
.blogpage__feature-btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.blogpage__feature-btn:hover {
  background-color: #edc14a;
}
.blogpage__post {
  padding: 64px 133px 89px 0;
  position: relative;
}
.blogpage__post--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 20px 0 32px 0;
}
.blogpage__post--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #592ea9;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.blogpage__post--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding-right: 50px;
}
.blogpage__post-list {
  border-top: 1px solid #6d6e76;
}
.blogpage__post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
}
.blogpage__post-content {
  cursor: pointer;
}
.blogpage__post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 69px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.blogpage__post-btn a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #6d6e76;
  text-decoration: none;
  transition: 0.3s;
}
.blogpage__post-btn a:hover {
  color: #232536;
  transform: scale(1.2);
}
.blogpage__post-btn a:active {
  transform: scale(1);
}
.blogpage__category {
  padding-top: 64px;
}
.blogpage__category--heading {
  padding-bottom: 48px;
}
.blogpage__join {
  padding: 128px;
}

.postpage__main {
  padding: 128px 80px;
}
.postpage__header {
  padding: 0 336px;
}
.postpage__header--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
  padding: 24px 50px 34px 0;
}
.postpage__header-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.postpage__header-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #592ea9;
  letter-spacing: -1px;
}
.postpage__header-timepost {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.postpage__header-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.postpage__header-category p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
}
.postpage__img {
  padding: 64px 0;
  text-align: center;
}
.postpage__list {
  padding: 0 336px;
}
.postpage__item {
  padding-bottom: 48px;
}
.postpage__item:last-child {
  padding-bottom: 0;
}
.postpage__item--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.postpage__item--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding-top: 24px;
}
.postpage__item-list {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  padding: 24px 0 0 16px;
}
.postpage__order {
  padding: 128px 0;
}
.postpage__order--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.postpage__order--title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
  padding: 16px 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.postpage__order--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding-right: 32px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.postpage__order-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 64px 0;
  border-bottom: 1px solid #6d6e76;
}
.postpage__order-item {
  max-width: 490px;
  cursor: pointer;
}
.postpage__order-img {
  width: 100%;
  padding-bottom: 32px;
}
.postpage__order-img img {
  width: 100%;
}
.postpage__order-author {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
}
.postpage__order-author span {
  color: #592ea9;
}

.aboutpage__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 80px;
  padding: 80px 118px 0 189px;
}
.aboutpage__header--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.aboutpage__header--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
  padding-top: 16px;
}
.aboutpage__header--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 0 32px;
  flex: 1;
}
.aboutpage__header-desc {
  padding: 64px;
  background-color: #ffffff;
  flex: 1;
}
.aboutpage__main {
  padding: 0 80px;
}
.aboutpage__overview {
  position: relative;
  top: -64px;
  z-index: -1;
}
.aboutpage__overview--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.aboutpage__overview--heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
  padding: 24px 108px 16px 0;
}
.aboutpage__overview--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.aboutpage__overview-img {
  width: 100%;
  height: 444px;
}
.aboutpage__overview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.aboutpage__overview-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  padding: 128px 108px 64px;
  background-color: #f4f0f8;
  position: relative;
}
.aboutpage__overview-content::before {
  position: absolute;
  top: -23px;
  content: "";
  width: 311px;
  height: 23px;
  background-color: #592ea9;
}
.aboutpage__overview-content::after {
  position: absolute;
  top: -23px;
  left: 331px;
  content: "";
  width: 550px;
  height: 23px;
  background-color: #ffd050;
}
.aboutpage__overview-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 68px;
  padding: 32px 48px;
  background-color: #ffd050;
  position: absolute;
  top: -179px;
}
.aboutpage__overview-quantity--heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
}
.aboutpage__overview-quantity--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.aboutpage__information {
  margin-top: -64px;
  padding: 128px 0;
}
.aboutpage__information--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.aboutpage__information--sub-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  padding: 16px 0;
  padding-right: 52px;
}
.aboutpage__information--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.aboutpage__information-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 137px 127px;
}
.aboutpage__information-item:nth-child(even) {
  flex-direction: row-reverse;
}
.aboutpage__join {
  margin: 128px 0;
}

.categorypage__header {
  margin-top: 80px;
  padding: 80px 463px;
  background-color: #f4f0f8;
  text-align: center;
}
.categorypage__header--heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
}
.categorypage__header--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 16px 0 32px 0;
}
.categorypage__header-breadcrumb li {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline;
}
.categorypage__header-breadcrumb li + li:before {
  padding: 4px;
  content: ">";
}
.categorypage__header-breadcrumb li a {
  color: #232536;
  text-decoration: none;
}
.categorypage__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 144px;
  padding: 128px 80px;
}
.categorypage__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-bottom: 32px;
  cursor: pointer;
}
.categorypage__item:last-child {
  padding-bottom: 0;
}
.categorypage__item--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #592ea9;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.categorypage__item--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 20px 0 16px 0;
}
.categorypage__item--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.categorypage__item-img {
  padding-right: 32px;
  max-width: 294px;
  width: 100%;
  height: 312px;
}
.categorypage__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categorypage__sidebar {
  width: 289px;
}
.categorypage__sidebar--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.categorypage__card-list {
  padding-top: 40px;
  width: 289px;
  list-style: none;
}
.categorypage__card-item {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #6d6e76;
  transition: 0.5s;
}
.categorypage__card-item:last-child {
  margin-bottom: 48px;
}
.categorypage__card-item:hover {
  border-color: transparent;
  background-color: #ffd050;
}
.categorypage__card-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.categorypage__card-icon {
  background-color: #fbf6ea;
  padding: 12px;
  border-radius: 10px;
}
.categorypage__card-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  letter-spacing: -1px;
}
.categorypage__tag {
  width: 100%;
}
.categorypage__tag--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
}
.categorypage__tag-list {
  padding-top: 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.categorypage__tag-item {
  margin-bottom: 16px;
  border: 1px solid #6d6e76;
  border-radius: 100px;
}
.categorypage__tag-link {
  display: inline-block;
  padding: 8px 38px;
  color: #6d6e76;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
}

.authorpage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 80px;
  padding: 128px 208px;
  background-color: #f4f0f8;
  position: relative;
}
.authorpage__header--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
}
.authorpage__header--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  padding: 24px 0;
}
.authorpage__header::before {
  position: absolute;
  bottom: 0;
  left: 208px;
  content: "";
  width: 60%;
  height: 23px;
  background-color: #ffd050;
}
.authorpage__header::after {
  position: absolute;
  right: 208px;
  bottom: 0;
  content: "";
  width: 20%;
  height: 23px;
  background-color: #592ea9;
}
.authorpage__header-social a {
  text-decoration: none;
  padding-right: 16px;
}
.authorpage__main {
  padding: 128px 208px;
}
.authorpage__post--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
}
.authorpage__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
}
.authorpage__item--title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #592ea9;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.authorpage__item--heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 20px 0 16px 0;
}
.authorpage__item--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.contactpage__main {
  padding: 128px 336px;
}
.contactpage__content {
  text-align: center;
}
.contactpage__content--title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #232536;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.contactpage__content--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
  padding: 12px 0 24px 0;
}
.contactpage__content--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.contactpage__information {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 42px;
  margin: 64px 0 32px 0;
  padding: 48px 64px;
  background-color: #592ea9;
}
.contactpage__information--title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 16px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.6;
}
.contactpage__information--heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  padding-top: 16px;
}
.contactpage__information--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
}
.contactpage__information-working {
  flex: 1;
}
.contactpage__information-contact {
  flex: 1;
}
.contactpage__form-group {
  padding-bottom: 16px;
}
.contactpage__form-group textarea {
  resize: vertical;
}
.contactpage__form-control {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  width: 100%;
  padding: 24px;
  border: 1px solid #6d6e76;
  background-color: transparent;
}
.contactpage__form-btn {
  padding: 16px 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffd050;
  color: #232536;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}
.contactpage__form-btn:hover {
  background-color: #edc14a;
}

.policypage--heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  letter-spacing: -2px;
  padding-bottom: 24px;
}
.policypage--sub-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
  letter-spacing: -2px;
  padding: 24px 0;
}
.policypage--text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.policypage__header {
  margin-top: 80px;
  padding: 80px 596px;
  background-color: #f4f0f8;
  text-align: center;
}
.policypage__header .policypage--heading {
  padding-bottom: 0;
}
.policypage__main {
  padding: 128px 336px;
}

/*# sourceMappingURL=style.css.map */
