.policypage {
  &--heading {
    @include heading1;

    padding-bottom: 2.4rem;
  }

  &--sub-heading {
    @include heading2;

    padding: 2.4rem 0;
  }

  &--text {
    @include textBody1;
  }

  &__header {
    margin-top: $heightHeader;
    padding: 8rem;
    background-color: $lavenderColor;
    text-align: center;

    .policypage--heading {
      padding-bottom: 0;
    }

    @include respond(tablet) {
      margin-top: $heightHeader;
      padding: 4rem 48.9rem;
    }

    @include respond(tablet) {
      padding: 8rem 2.4rem;
    }
  }

  &__main {
    padding: 12.8rem 33.6rem;

    @include respond(tablet) {
      margin-top: $heightHeader;
      padding: 6.8rem 16.9rem;
    }

    @include respond(tablet) {
      padding: 2.4rem;
    }
  }
}
