// Authors
.author {
  &--heading {
    @include heading2;

    padding-bottom: 4.8rem;
    text-align: center;
  }

  &__list {
    @include dFlexCenter(space-between, $gap: 3.2rem);

    margin-bottom: 3.2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond(tablet) {
      flex-direction: column;
      gap: 3.2rem;
    }

    @include respond(mobile) {
      width: 100%;
      gap: 1.6rem;
    }
  }

  &__item {
    width: 100%;
    padding: 4rem 0;
    text-align: center;

    &:first-child {
      background-color: $lightGreyColor;
    }

    &:nth-child(2) {
      background-color: $lightYellowColor;
    }

    &:nth-child(3),
    &:last-child {
      background-color: $lightGreyColor;
    }
  }

  &__avatar {
    // padding: 0 8.4rem;
  }

  &__name {
    padding-top: 2rem;

    a {
      @include heading3;

      text-decoration: none;
    }
  }

  &__job {
    @include textBody2;

    padding-bottom: 2rem;
  }

  &__social-icons {
    @include dFlexCenter($gap: 1.6rem);

    list-style: none;
  }

  &__social-link {
    color: $darkBg;
    text-decoration: none;
  }
}
