*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  @include respond(bigDesktop) {
    font-size: 75%;
  }

  font-size: 62.5%;

  @include respond(desktop) {
    font-size: 56.25%;
  }

  @include respond(tablet) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  color: $darkBg;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba($darkBg, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($mediumGreyColor, 0.5);
}

::selection {
  color: $whiteColor;
  background: $yellowBg;
}
