// Footer
.footer {
  padding: 5.9rem 8rem;
  background-color: $darkBg;

  @include respond(tablet) {
    padding: 3.2rem;
  }

  @include respond(mobile) {
    padding: 1.6rem;
  }

  &__navbar {
    padding: 0;
    position: relative;
    z-index: 1;
    border: none;

    @include respond(tablet) {
      margin-bottom: -3.6rem;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    margin: 5.7rem 0 4.8rem 0;
    padding: 8rem 6.4rem;
    background-color: rgba($whiteColor, 0.05);
    width: 100%;

    @include respond(tablet) {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  &__form-message {
    @include heading2($whiteColor);
  }

  &__form-message,
  &__form-group {
    flex: 1;
  }

  &__form-group {
    text-align: right;
  }

  &__form-control {
    @include textBody1($whiteColor);

    margin-right: 24px;
    padding: 1.3rem 2.5rem;
    border: 0.1rem solid $mediumGreyColor;
    background-color: transparent;
    outline: none;

    @include respond(tablet) {
      margin: 0;
      width: 100%;
    }
  }

  &__form-submit {
    @include buttonPrimary;

    @include respond(tablet) {
      width: 100%;
      margin-top: 3.2rem;
    }
  }

  &__contact {
    @include dFlexCenter(space-between);

    @include respond(tablet) {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  &__social {
    display: flex;
    list-style: none;
    gap: 3rem;

    @include respond(tablet) {
      padding-bottom: 3.2rem;
    }
  }

  &__address {
    @include textBody1($whiteColor);
  }
}
