// Navbar
.navbar {
  @include dFlexCenter(space-between, center, 3.2rem);

  padding: 0 8rem;
  height: $heightHeader;
  background-color: $darkBg;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  @include respond(tablet) {
    padding: 0 3.2rem;
  }

  @include respond(mobile) {
    padding: 0 1.6rem;
  }

  &__menu {
    @include dFlexCenter(flex-end, center, 2.4rem);

    text-transform: capitalize;
    flex: 1;

    @include respond(tablet) {
      display: none;
    }
  }

  &__menu-item {
    @include textBody1;

    text-decoration: none;
    color: $whiteColor;
    transition: 0.3s;

    &:hover {
      color: rgba($whiteColor, 0.6);
    }

    &:active {
      color: rgba($whiteColor, 0.8);
    }
  }

  &__btn {
    @include buttonPrimary($whiteColor);
    @include respond(tablet) {
      display: none;
    }
  }

  // Mobile
  &__menu-mobile {
    display: none;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    @include respond(tablet) {
      display: block;
    }
  }

  &__icon-mobile,
  &__icon-mobile span {
    display: inline-block;
    box-sizing: border-box;
  }
  &__icon-mobile {
    position: relative;
    width: 4.4rem;
    height: 3.2rem;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before,
    &::after,
    span {
      position: absolute;
      width: 100%;
      height: 0.5rem;
      background: #fff;
      border-radius: 0.5rem;
      transform-origin: 50% 50%;
      transition: 0.2s;
    }
    &::before {
      top: 1.4rem;
      left: 0;
      transform: rotate(45deg) scaleX(0);
    }

    &::after {
      top: 1.4rem;
      right: 0;
      transform: rotate(-45deg) scaleX(0);
    }

    span:nth-of-type(1) {
      top: 0;
      left: 0;
      transition-delay: 0.2s;
    }

    span:nth-of-type(2) {
      top: 1.4rem;
      left: 0;
      transition-delay: 0.2s;
    }

    span:nth-of-type(3) {
      bottom: 0;
      left: 0;
      transition-delay: 0.2s;
    }

    &.active::before {
      transform: rotate(45deg) scaleX(1);
      transition-delay: 0.2s;
    }

    &.active::after {
      transform: rotate(-45deg) scaleX(1);
      transition-delay: 0.2s;
    }

    &.active span {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }

  &__list-mobile {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 6.4rem;
    background-color: $darkBg;
    position: fixed;
    top: $heightHeader;
    right: 0;
    bottom: 0;
    width: 50%;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.show {
      overflow-y: scroll;
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    @include respond(mobile) {
      width: 100%;
    }
  }

  &__item-mobile {
    @include heading3($whiteColor);

    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      color: rgba($whiteColor, 0.6);
    }

    &:show {
      color: rgba($whiteColor, 0.8);
    }
  }

  &__overlay-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($darkBg, 0.4);
    z-index: -1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
