$darkBg: #232536;
$yellowBg: #ffd050;

$darkGreyColor: #4c4c4c;
$mediumGreyColor: #6d6e76;
$purple: #592ea9;
$lightGreyColor: #f4f4f4;
$lightYellowColor: #fbf6ea;
$lavenderColor: #f4f0f8;
$whiteColor: #ffffff;

$heightHeader: 80px;
